{% extends "base.html" %} {% block title %}Edit Post Form{% endblock %} {% block content %}
<h2>Edit Post</h2>
<form action="/posts/{{post.id}}/edit" method="post">
  <div>
    <label for="first-name">Title</label>
    <input type="text" name="title" id="title" value="{{ post.title }}" required />
  </div>

  <div>
    <label for="last-name">Content</label>
    <input type="text" name="content" id="content" value="{{ post.content }}" required />
  </div>

  <button type="submit">Edit</button>
</form>

<form action="/users/{{ post.user.id }}">
  <button type="submit">Cancel</button>
</form>

{% endblock %}
